Step1/Badges/Badges.xcodeproj/xcuserdata
Step1/Badges/Badges.xcodeproj/project.xcworkspace/xcuserdata
Step2/Badges/Badges.xcodeproj/project.xcworkspace/xcuserdata
Step2/DetailLayoutTest/Badges.xcodeproj/project.xcworkspace/xcuserdata
Step2/DetailLayoutTest/Badges.xcodeproj/xcuserdata
Step3/LayoutTestA1/LayoutTestA.xcodeproj/xcuserdata
Step3/LayoutTestA1/LayoutTestA.xcodeproj/project.xcworkspace/xcuserdata
Step3/DetailLayoutStrategy/Badges.xcodeproj/xcuserdata
Step3/DetailLayoutStrategy/Badges.xcodeproj/project.xcworkspace/xcuserdata
